<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="/js/app.js" type="text/javascript"></script>
    </head>
    <body class="">
        {{> header }}
        <p>{{error}}</p>
        {{> footer }}
    </body>
</html>