<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/sun.png">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src="/js/app.js" type="text/javascript"></script>
    </head>
    <body class="">
        <div class="main-content">
            {{> header }}
            <p>This site is created by Diwakar Panchal and is using Weather Stack and Geocode APIs.</p>
            <img src="{{image_src}}" class="photograph" />
            <p>{{content}}</p>
        </div>
        {{> footer }}
    </body>
</html>